html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 35px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    position: relative;
}

.title-h2::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 11px;
    background: url(../img/title-decor.svg) no-repeat center;
}

.title-h2::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 11px;
    background: url(../img/title-decor.svg) no-repeat center;
}

.title-h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #e53030;
    color: #fff;
    padding: 11px 36px;
    text-decoration: none;
    border-radius: 29px;
    cursor: pointer;
    transition: ease-in .3s background-color;
}

.btn:hover {
    background-color: #ca2a2a;
}

.btn-alt {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 11px 60px;
    border: 1px solid #e53030;
    border-radius: 29px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in .5s all;
}

.btn-alt:hover {
    background-color: #e53030;
    color: #fff;
}

/* Шапка сайта */

.header {
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-top: 13px;
}

.header__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__menu-item {
    margin-right: 52px;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-link {
    text-decoration: none;
    color: #000;
    position: relative;
}

.header__menu-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #0079ae;
    transition: all 0.3s linear;
}

.header__menu-link:hover::after {   
    width: 100%;
}

.header__menu-active.header__menu-link::after {
    width: 100%;
}

.header__search {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    background: url(../img/search.svg) no-repeat center;
    cursor: pointer;
}

/* /Шапка сайта */

/* Секция транспорт */

.transport {
    padding-top: 119px;
}

.transport__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}

.transport__wrapper:first-of-type {
    margin-top: 77px;
}

.transport__content {
    max-width: 555px;
    text-align: center;
}

.transport__content .transport__text:nth-last-of-type(2) {
    margin-top: 0;
}

.transport__content .transport__text:nth-last-of-type(1) {
    margin-bottom: 35px;
}

.transport__wrapper:nth-last-of-type(5) .transport__text:nth-last-of-type(1) {
    margin-bottom: 0;
}

.transport__wrapper:nth-last-of-type(5) .transport__logo {
    margin-bottom: 40px;
}


.transport__wrapper:nth-last-of-type(4) .transport__text:nth-last-of-type(1) {
    margin: 0;
}

.transport__wrapper:nth-last-of-type(4) {
    margin-bottom: 80px;
}

.transport__wrapper:nth-last-of-type(3) {
    margin-top: 40px;
    margin-bottom: 100px;
}

.transport__wrapper:nth-last-of-type(3) .transport__text:nth-last-of-type(1) {
    margin-bottom: 0;
}

.transport__wrapper:nth-last-of-type(2) {
    max-width: 810px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 100px;
}

.transport__wrapper:nth-last-of-type(2) .transport__text:nth-last-of-type(2) {
    margin-top: 35px;
    margin-bottom: 40px;
}

.transport__wrapper:nth-last-of-type(2) .transport__text:nth-last-of-type(1) {
    margin: 0;
}

.transport__wrapper:nth-last-of-type(1) {
    margin-top: 32px;
    margin-bottom: 65px;
}

.transport__logo {
    margin-bottom: 43px;
}

.transport__text {
    text-align: left;
}

.transport__image-map {
    margin-bottom: 40px;
}

.transport__item {
    background-color: #fff;
    border: 5px solid #0079ae;
    padding: 74px 57px;
    text-align: center;
    max-width: 360px;
}

.transport__block-trips {
    margin-bottom: 32px;
}

.transport__trips {
    display: block;
    font-size: 84px;
    font-weight: 700;
    margin-bottom: 21px;
}

.transport__trips-title {
    font-size: 31px;
}

.transport__list {
    list-style: none;
    padding: 0;
    margin: 0 auto 60px;
    text-align: left;
    max-width: 100px;
    min-height: 100px;
}

.transport__list-item {
    position: relative;
}

.transport__list-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -17px;
    width: 7px;
    height: 7px;
    background-color: #e53030;
    border-radius: 50%;
}

.transport__price {
    display: block;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 25px;
}

.transport__block-price .transport__text {
    margin: 0;
}

.transport__item-big {
    background: linear-gradient(180deg, rgba(52,200,213,1) 0%, rgba(0,121,175,1) 100%);
    padding: 86px 62px;
    color: #fff;
    text-align: center;
}

.transport__item-big .transport__list {
    max-width: 197px;
}

.transport__item-big {
    padding-bottom: 74px;
}

.transport__wrapper:nth-last-of-type(1) + .transport__text { 
    margin: 0;
    text-align: center;
    margin-bottom: 109px;
}

/* /Секция транспорт */

/* Подвал сайта */

.footer {
    padding-top: 17px;
    padding-bottom: 9px;
    background-color: #0079ae;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__coryright {
    margin: 0;
    color: #fff;
    font-size: 12px;
    margin-left: 32px;
}

.btn-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #e53030 url(../img/arrow-up.svg) no-repeat center;
    transition: ease-in .3s background-color;
}

.btn-up:hover {
    background-color: #ca2a2a;
}

/* Подвал сайта */